<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" style="padding-left: 0;">
      <p class="brand"><strong>Diario.</strong></p>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item" style="padding-right: 0;">
        <div class="buttons">
          <a class="button is-rounded" (click)="onSignup()" *ngIf="mode === 'signin'">
            Sign up
          </a>
          <a href="https://github.com/asheerrizvi/diario-f" target="_blank" class="button is-rounded" *ngIf="!isAuthenticated">
            <span class="icon">
              <fa-icon [icon]="faGithub"></fa-icon>
            </span>
            <span>
              Github
            </span>
          </a>
          <a class="button is-rounded" (click)="onLogout()" *ngIf="isAuthenticated">
            <span class="icon">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>
            </span>
            <span>
              Logout
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>