<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" style="padding-left: 0;">
      <p class="brand"><strong>Diario.</strong></p>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="buttons">
        <a class="button is-rounded" (click)="onSignup()" *ngIf="mode === 'signin'">
          <strong>Sign up</strong>
        </a>
      </div>
      
      <div class="navbar-item has-dropdown is-hoverable" *ngIf="isAuthenticated">
        <a class="navbar-link" style="border-radius: 10px;">
          <span class="icon">
            <fa-icon [icon]="faUser" style="font-size: 22px;"></fa-icon>
          </span>
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item">
            Edit Profile
          </a>
          <a class="navbar-item" (click)="onLogout()">
            <span class="icon" style="margin-right: 0.45rem; color: #F15056;">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>
            </span>
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>