.button {
    border-color: #8D6B94;
    color: #8D6B94;
}

.button:hover {
    background-color: #8D6B94;
    color: white;
}

.brand {
    font-family: 'Merriweather', Serif;
    color: #8D6B94;
    font-size: 36px;
}

.icon {
    color: #8D6B94;
}

a.navbar-link::after {
    border-color: #8D6B94;
}

.navbar-dropdown {
    font-size: 1rem;
}