.columns {
    height: 100%;
}

.column.is-12 {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}

.title.is-1 {
    font-size: 6rem;
    font-weight: 400;
}

.title.is-2 {
    font-size: 3.5rem;
    font-weight: 400;
}

.diario {
    display: inline-block;
    color: white;
    background-color: black;
}

.continue-icon {
    margin-top: 2rem;
}

fa-icon {
    font-size: 56px;
    cursor: pointer;
}