<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <a>
        <fa-icon
          class="has-text-primary side-menu-icon"
          [icon]="faLayerGroup"
        ></fa-icon
        >Dashboard
      </a>
    </li>
  </ul>
  <p class="menu-label">
    Planner
  </p>
  <ul class="menu-list">
    <li>
      <a>
        <fa-icon
          class="has-text-info side-menu-icon"
          [icon]="faQuoteLeft"
        ></fa-icon
        >Notes
      </a>
    </li>
    <li>
      <a>
        <fa-icon
          class="has-text-success side-menu-icon"
          [icon]="faCalendarCheck"
        ></fa-icon
        >Events
      </a>
    </li>
  </ul>
  <p class="menu-label">
    User
  </p>
  <ul class="menu-list">
    <li>
      <a>
        <fa-icon
          class="has-text-warning side-menu-icon"
          [icon]="faUser"
        ></fa-icon
        >Edit Profile
      </a>
    </li>
    <li>
      <a>
        <fa-icon
          class="has-text-danger side-menu-icon"
          [icon]="faSignOutAlt"
        ></fa-icon
        >Log Out
      </a>
    </li>
  </ul>
</aside>
