<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input is-rounded" type="text" placeholder="Name" />
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input is-rounded" type="email" placeholder="Email" />
  </div>
</div>

<div class="field">
  <label class="label">Password</label>
  <div class="control">
    <input class="input is-rounded" type="password" placeholder="Password" />
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-success is-rounded">Save Changes</button>
  </div>
  <div class="control">
    <button class="button is-link is-light is-rounded">Cancel</button>
  </div>
</div>
