.card {
  border-radius: 25px;
}

.news-image {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.weekday {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.date {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: -0.25rem;
}

.location {
  font-size: 1.25rem;
}

.temperature {
  font-size: 2.75rem;
  font-weight: 600;
}

.description {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: -0.35rem;
}

.upcoming-events {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.message {
  margin-bottom: 1rem;
}

.message-body {
  border-width: 0 0 0 5px;
  border-color: #8d6b94;
  padding: 0.15rem 1rem;
  border-radius: 0;
  background-color: #fff;
}
