<div class="columns">
    <div class="column is-6">
        <div class="card">
            <div class="card-content">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p class="subtitle is-4" style="color: white;">Today is</p>
                        <p class="title is-2" style="color: white;">{{ now }}</p>
                    </div>
                    <div class="column">
                        <button class="button is-large is-pulled-right">
                            <span class="icon">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="title is-5">Events</p>
        <div class="column" style="padding: 0;">
            <article class="message">
                <div class="message-body">
                    <p class="event-title"><strong>Town Hall Meeting</strong></p>
                    <p class="event-date"><i>10 am, Oct 15th</i></p>
                </div>
            </article>
            <article class="message">
                <div class="message-body">
                    <p class="event-title"><strong>Town Hall Meeting</strong></p>
                    <p class="event-date">Oct 15</p>
                </div>
            </article>
            <article class="message">
                <div class="message-body">
                    <p class="event-title"><strong>Town Hall Meeting</strong></p>
                    <p class="event-date">Oct 15</p>
                </div>
            </article>
            <article class="message">
                <div class="message-body">
                    <p class="event-title"><strong>Town Hall Meeting</strong></p>
                    <p class="event-date">Oct 15</p>
                </div>
            </article>
            <article class="message">
                <div class="message-body">
                    <p class="event-title"><strong>Town Hall Meeting</strong></p>
                    <p class="event-date">Oct 15</p>
                </div>
            </article>
        </div>
    </div>
    <div class="column is-6">
    </div>
</div>