<div class="columns is-multiline">
  <div class="column is-12">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column is-2" style="border-right: 1px solid #F2F2F2; padding-right: 0; padding-top: 1.5rem;">
            <aside class="menu">
              <p class="menu-label">
                General
              </p>
              <ul class="menu-list">
                <li><a>
                    <fa-icon class="has-text-primary" [icon]="faLayerGroup"></fa-icon>Dashboard
                  </a></li>
              </ul>
              <p class="menu-label">
                Planner
              </p>
              <ul class="menu-list">
                <li><a>
                    <fa-icon class="has-text-info" [icon]="faQuoteLeft"></fa-icon>Notes
                  </a></li>
                <li><a>
                    <fa-icon class="has-text-warning" [icon]="faCalendarCheck"></fa-icon>Events
                  </a></li>
              </ul>
              <p class="menu-label">
                User
              </p>
              <ul class="menu-list">
                <li><a>
                    <fa-icon class="has-text-success" [icon]="faUser"></fa-icon>Edit Profile
                  </a></li>
                <li><a>
                    <fa-icon class="has-text-danger" [icon]="faSignOutAlt"></fa-icon>Log Out
                  </a></li>
              </ul>
            </aside>
          </div>
          <div class="column is-6" style="border-right: 1px solid #F2F2F2; padding: 0; overflow-y: scroll;">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="text" placeholder="Search">
              <span class="icon is-medium is-left" style="padding-left: 0.5rem;">
                <fa-icon [icon]="faSearch"></fa-icon>
              </span>
            </div>
            <div class="card news-card">
              <div class="card-content">
                <p class="title is-4">Forex Today: Dollar looks strong, oil extends fall, all eyes on first
                  corona-linked Non-Farm Payrolls</p>
                <p class="subtitle is-6">Yohay Elam at <a>Fxstreet.com</a></p>

                <div class="content">
                  Here is what you need to know on Friday, April 3: The US dollar has been consolidating its gains as
                  tension mounts toward the US Non-Farm Payrolls, in
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br><br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
            <div class="card news-card">
              <div class="card-content">
                <p class="title is-4">Forex Today: Dollar looks strong, oil extends fall, all eyes on first
                  corona-linked Non-Farm Payrolls</p>
                <p class="subtitle is-6">Yohay Elam at <a>Fxstreet.com</a></p>

                <div class="content">
                  Here is what you need to know on Friday, April 3: The US dollar has been consolidating its gains as
                  tension mounts toward the US Non-Farm Payrolls, in
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br><br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
            <div class="card news-card">
              <div class="card-content">
                <p class="title is-4">Forex Today: Dollar looks strong, oil extends fall, all eyes on first
                  corona-linked Non-Farm Payrolls</p>
                <p class="subtitle is-6">Yohay Elam at <a>Fxstreet.com</a></p>

                <div class="content">
                  Here is what you need to know on Friday, April 3: The US dollar has been consolidating its gains as
                  tension mounts toward the US Non-Farm Payrolls, in
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br><br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
            <div class="card news-card">
              <div class="card-content">
                <p class="title is-4">Forex Today: Dollar looks strong, oil extends fall, all eyes on first
                  corona-linked Non-Farm Payrolls</p>
                <p class="subtitle is-6">Yohay Elam at <a>Fxstreet.com</a></p>

                <div class="content">
                  Here is what you need to know on Friday, April 3: The US dollar has been consolidating its gains as
                  tension mounts toward the US Non-Farm Payrolls, in
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br><br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
            <div class="card news-card">
              <div class="card-content">
                <p class="title is-4">Forex Today: Dollar looks strong, oil extends fall, all eyes on first
                  corona-linked Non-Farm Payrolls</p>
                <p class="subtitle is-6">Yohay Elam at <a>Fxstreet.com</a></p>

                <div class="content">
                  Here is what you need to know on Friday, April 3: The US dollar has been consolidating its gains as
                  tension mounts toward the US Non-Farm Payrolls, in
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br><br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>