.columns {
  height: 70vh;
}

.column {
  max-height: 100%;
}

.side-menu-icon {
  margin-right: 0.5rem;
}

.menu-list a {
  border-radius: 25px;
  font-size: 1.15rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.25rem;
}

.card {
  margin: 1rem;
  border-radius: 25px;
}

.news-image {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.weekday {
  font-size: 1.5rem;
  font-weight: 600;
}

.date {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  margin-top: -0.25rem;
}

.location {
  font-size: 1.25rem;
}

.temperature {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 1.75rem;
}

.description {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: -0.35rem;
}