.columns {
    height: 70vh;
}

.column {
    max-height: 100%;
}

.card {
    border-radius: 15px;
    background: white;
}

.dashboard-content {
    padding-top: 0;
    padding-bottom: 0;
}

.news-reel {
    overflow-y: scroll;
    height: calc(100% - 50px);
}

.news-card {
    box-shadow: none;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-radius: 15px;
    background-color: #f2f2f2;
    margin: 1rem;
}

fa-icon {
    margin-right: 0.5rem;
}

.is-active {
    background-color: #8D6B94 !important;
}

.weather {
    background: rgb(0,105,153);
    background: linear-gradient(180deg, rgba(0,105,153,1) 0%, rgba(246,209,200,1) 90%, rgba(243,172,92,1) 100%);
    border-radius: 15px;
    margin: 1rem;
}

.menu-list a {
    border-radius: 25px;
    font-size: 1.15rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.25rem;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #f2f2f2;
}

::-webkit-scrollbar-thumb:hover {
    background: #f2f2f2;
}
::-webkit-scrollbar-thumb:active {
    background: #f2f2f2;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
